body {
    background: url(assets/bkgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
}

aside {
    opacity: 0;
    width: 350px;
    height: 100%;
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    box-shadow: 15px 8px #88888838;
    -webkit-animation: slideIn 0.3s 1;
    animation: slideIn 0.3s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

aside h2 {
    font-family: 'Chela One', cursive;
    font-size: 3em;
}

#bucket {
    position: relative;
    width: 825px;
    height: 400px;
    float: right;
    top: 148px;
    left: -157px;
}

.wing-container {
    opacity: 0;
	-webkit-animation: pop 0.2s 1;
	animation: pop 0.2s 1;
	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: inline-block;
}

.wing-container:nth-of-type(even) .wing {
    -webkit-transform:rotate(-138deg);
    -moz-transform: rotate(-138deg);
    -ms-transform: rotate(-138deg);
    -o-transform: rotate(-138deg);
    transform: rotate(-138deg);
    width: 190px;
}

.wing-container:nth-of-type(odd) .wing {
    -webkit-transform:rotate(-181deg);
    -moz-transform: rotate(-181deg);
    -ms-transform: rotate(-181deg);
    -o-transform: rotate(-181deg);
    transform: rotate(-181deg);
    margin: 5px;
    width: 190px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

@-webkit-keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }

  @-webkit-keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
   }

  @-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
   }
