body {
    background: url(assets/bkgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

aside {
    opacity: 0;
    width: 424px;
    height: 100%;
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    box-shadow: 15px 8px #88888838;
    -webkit-animation: slideIn 0.3s 1;
    animation: slideIn 0.3s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

aside h2 {
    font-family: 'Chela One', cursive;
    font-size: 3em;
}

.radio-wrapper {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-wrapper input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .radio-wrapper:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio-wrapper input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-wrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-wrapper .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

#order-details {
    font-size: 1.7em;
    line-height: 2em;
    margin: 20px 0px;
}

#clear, #finished button  {
    border: none;
    background-color: #821915;
    color: white;
    font-size: 1em;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 30px;
    display: block;
}

#user-city {
    padding: 0 10px;
    border: 1px solid;
    height: 37px;
    vertical-align: bottom;
    width: 400px;
}

#plain, #bbq, #sweet-chilli, #plain-complete, #bbq-complete, #sweet-chilli-complete {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

#bucket {
    position: relative;
    width: 825px;
    height: 400px;
    float: right;
    top: 148px;
    left: -157px;
}

.wing-container {
    opacity: 0;
	-webkit-animation: pop 0.2s 1;
	animation: pop 0.2s 1;
	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: inline-block;
}

.wing-container:nth-of-type(even) .wing {
    -webkit-transform:rotate(-138deg);
    -moz-transform: rotate(-138deg);
    -ms-transform: rotate(-138deg);
    -o-transform: rotate(-138deg);
    transform: rotate(-138deg);
    width: 190px;
}

.wing-container:nth-of-type(odd) .wing {
    -webkit-transform:rotate(-181deg);
    -moz-transform: rotate(-181deg);
    -ms-transform: rotate(-181deg);
    -o-transform: rotate(-181deg);
    transform: rotate(-181deg);
    margin: 5px;
    width: 190px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

#finish-container {
    position: fixed;
    width: 100%;
    background: #ffffffa1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#finished {
    width: 860px;
    background: white;
    margin: 0 auto;
    padding: 30px 55px;
}
 #finished h2 {
     font-size: 2em;
 }

 #city-names {
     cursor: pointer;
 }

 #restaurants {
    overflow-y: scroll;
    height: 800px;
 }

@-webkit-keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }

  @keyframes pop {
    0% { 
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
   }

  @-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
   }

   @-webkit-keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

   @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
